<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  {% if site.keywords %}
  <meta name="keywords" content="{{ site.keywords }}">
  {% endif %}
  {% if site.canonical %}
  <link rel="canonical" href="{{ site.canonical }}"/>
  {% endif %}
  <link rel="stylesheet" href="/assets/css/uikit.min.css" />
      <script src="/assets/js/uikit.min.js"></script>
      <script src="/assets/js/uikit-icons.min.js"></script>
  <link rel=stylesheet href=https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css >
  <script src=https://kit.fontawesome.com/ac18aec964.js crossorigin=anonymous></script>
  <script src=https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js></script>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
<script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
</head>
<body>

    <ons-page id="tabbar-page">
        <ons-tabbar swipeable position="auto">
          <ons-tab page="navigator.html" navigator-page="index.html" label="Home" icon="md-home" active></ons-tab>
          <ons-tab navigator-page="projects.html" label="Projects" icon="md-code"></ons-tab>
          <ons-tab navigator-page="talks.html" label="Talks" icon="md-slideshow"></ons-tab>
          <ons-tab navigator-page="contact.html" label="Contact" icon="md-email"></ons-tab>
        </ons-tabbar>
      </ons-page>
      
      <template id="navigator.html">
        <ons-navigator page="index.html"></ons-navigator>
      </template>
      
      <template id="index.html">
        <ons-page id="Home">
          <ons-toolbar>
            <div class="center">Home</div>
          </ons-toolbar>

          <div style="height: 200px; padding: 1px 0 0 0;">
            <div class="card">
              <h2 class="card__title">{{ site.title }}</h2>
              <div class="card__content">

                <ul class="list">                  
                    <li class="list-item">
                      <div class="list-item__left">
                        <img class="list-item__thumbnail" src="{{site.avatar}}" alt="Ezequiel">
                      </div>
                  
                      <div class="list-item__center">
                        <div class="list-item__title">Hi, </div>
                        <div class="list-item__subtitle">{{ site.position }}</div>
                      </div>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </ons-page>
      </template>
      
      <template id="projects.html">
        <ons-page id="Projects">
          <ons-toolbar>
            <div class="center">Projects</div>
          </ons-toolbar>
      
          <p style="text-align: center;">
            <div class="uk-child-width-1-3@m uk-text-center" uk-grid>
              {% for post in site.data.projects.docs %}
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                      <div class="uk-card-header">
                        <h3 class="uk-card-title">{{ post.title }}</h3>
                        </div>
                        <p><img class="thumb uk-project-img" src="/assets/img/{{post.uid}}" uk-img></p>
                        <div class="uk-card-body uk-text-justify">
                        <p>{{ post.description }}</p>
                      </div>
                      <div class="uk-card-footer">
  
                        {% if post.appstore != null %}
                        <a class=social-icon href="{{ post.appstore }}" aria-label="{{post.title}}"><i class="fab fa-app-store-ios" aria-hidden=true aria-label="{{post.title}}"></i></a>
                        {% endif %}
  
                        {% if post.googleplay != null %}
                        <a class=social-icon href="{{ post.googleplay }}" aria-label="{{post.title}}"><i class="fab fa-google-play" aria-hidden=true aria-label="{{post.title}}"></i></a>
                        {% endif %}
  
                        {% if post.youtube != null %}
                        <a class=social-icon href="{{ post.youtube }}" aria-label="{{post.title}}"><i class="fab fa-youtube" aria-hidden=true aria-label="{{post.title}}"></i></a>
                        {% endif %}
  
                        {% if post.github != null %}
                        <a class=social-icon href="{{ post.github }}" aria-label="{{post.title}}"><i class="fab fa-github" aria-hidden=true aria-label="{{post.title}}"></i></a>
                        {% endif %}
                        
                        {% if post.url != null %}
                        <a class=social-icon href="{{ post.url }}" aria-label="{{post.title}}"><i class="fas fa-external-link-alt" aria-hidden=true aria-label="{{post.title}}"></i></a>
                        {% endif %}
  
                        {% if post.paper != null %}
                        <a class=social-icon href="{{ post.paper }}" aria-label="{{post.title}}"><i class="far fa-file-pdf" aria-hidden=true aria-label="{{post.title}}"></i></a>
                        {% endif %}
                      </div>
  
                    </div>
                </div>
                {% endfor %}
            </div>
          </p>
        </ons-page>
      </template>
      
      <template id="talks.html">
        <ons-page id="Talks">
          <ons-toolbar>
            <div class="center">Talks</div>
          </ons-toolbar>
      
          <p style="text-align: center;">
            <script>
                $(function(){
                  // Initialization code
                  $('ons-button').on('click', function(e) {
                    ons.notification.alert('Button is tapped!');
                  })
                });
              </script>
              <ons-button>Click me!</ons-button>
          </p>
        </ons-page>
      </template>


      <template id="contact.html">
        <ons-page id="contact">
          <ons-toolbar>
            <div class="center">Contact</div>
          </ons-toolbar>
      
          <div class="container">
            <div class="header"></div>
            <div class="projects">
              <div class="content">
                <br>
              <style>
          
              </style>
                <h1 class="item1">{{ site.data.projects.title }}</h1>
                <div class="item2">
                  <section id=contact class=contact>
                    <div class=container data-aos=fade-up>
                       <div class=section-title>
                       </div>
                       <div class="row mt-1">
                          <div class=col-lg-4>
                             <div class=info>
                                <div class=email>
                                   <i class="bi bi-envelope"></i>
                                   <h3>Email::</h3>
                                   <p>ezefranca.br@gmail.com</p>
                                </div>
                             </div>
                          </div>
                          <div class="col-lg-8 mt-5 mt-lg-0">
                             <form>
                                <div class=row>
                                   <div class="col-md-6 form-group">
                                      <div class="form-group mt-3"> <label for="name">Nome: </label> <input class=form-control id=name name=name placeholder=Nome required></div>
                                      <div class="form-group mt-3"><label for="email">Email: </label> <input type=email class=form-control name=email id=email placeholder=@ required></div>
                                   </div>
                                   <div class="form-group mt-3"><label for="message">Mensagem: </label> <textarea class="form-control textarea" name=message id=message rows=5 placeholder=Mensagem required></textarea></div>
                                   <br>
                                   <div class="form-group mt-3">
                                      <div class=text-right><button onclick=sendmail() type=button class="btn btn-primary">Enviar</button></div>
                                   </div>
                                </div>
                             </form>
                          </div>
                       </div>
                    </div>
                 </section>
                </div>
              </div>
            </div>
            <script src=assets/js/email.js></script>
          </div>
          
        </ons-page>
      </template>

      <script>
                        document.addEventListener('init', function(event) {
  if (event.target.matches('#tabbar-page')) {
    var tabbar = document.querySelector('ons-tabbar');
    var tabs = tabbar.tabs;
    var navi = document.querySelector('ons-navigator');
    var runningAnimation = false;
    
    tabs.forEach(function(tab) {
      tab.onClick = function() {
        if (!tab.isActive() && !runningAnimation) {
          tabs[tabbar.getActiveTabIndex()].setActive(false);
          tab.setActive(true);
          runningAnimation = true;
          
          navi
            .bringPageTop(tab.getAttribute('navigator-page'), { animation: 'lift' })
            .then(function() { runningAnimation = false });
        }
      };
    });
  }
});
      </script>
<script src=assets/js/email.js></script>
</body>
</html>