<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
</head>
<body>

    <ons-page id="tabbar-page">
        <ons-tabbar swipeable position="auto">
          <ons-tab page="navigator.html" navigator-page="tab1.html" label="Home" icon="md-home" active></ons-tab>
          <ons-tab navigator-page="projects.html" label="Projects" icon="md-settings"></ons-tab>
          <ons-tab navigator-page="talks.html" label="Talks" icon="md-face"></ons-tab>
          <ons-tab navigator-page="contact.html" label="Contact" icon="md-face"></ons-tab>
        </ons-tabbar>
      </ons-page>
      
      <template id="navigator.html">
        <ons-navigator page="index.html"></ons-navigator>
      </template>
      
      <template id="index.html">
        <ons-page id="Home">
          <ons-toolbar>
            <div class="center">Home</div>
          </ons-toolbar>
      
          <p style="text-align: center;">
            This is the first page.
          </p>
        </ons-page>
      </template>
      
      <template id="projects.html">
        <ons-page id="Projects">
          <ons-toolbar>
            <div class="center">Projects</div>
          </ons-toolbar>
      
          <p style="text-align: center;">
            This is the second page.
          </p>
        </ons-page>
      </template>
      
      <template id="talks.html">
        <ons-page id="Talks">
          <ons-toolbar>
            <div class="center">Talks</div>
          </ons-toolbar>
      
          <p style="text-align: center;">
            <script>
                $(function(){
                  // Initialization code
                  $('ons-button').on('click', function(e) {
                    ons.notification.alert('Button is tapped!');
                  })
                });
              </script>
              <ons-button>Click me!</ons-button>
          </p>
        </ons-page>
      </template>


      <template id="contact.html">
        <ons-page id="contact">
          <ons-toolbar>
            <div class="center">Contact</div>
          </ons-toolbar>
      
          <p style="text-align: center;">
            This is contact page
          </p>
        </ons-page>
      </template>

      <script>
                        document.addEventListener('init', function(event) {
  if (event.target.matches('#tabbar-page')) {
    var tabbar = document.querySelector('ons-tabbar');
    var tabs = tabbar.tabs;
    var navi = document.querySelector('ons-navigator');
    var runningAnimation = false;
    
    tabs.forEach(function(tab) {
      tab.onClick = function() {
        if (!tab.isActive() && !runningAnimation) {
          tabs[tabbar.getActiveTabIndex()].setActive(false);
          tab.setActive(true);
          runningAnimation = true;
          
          navi
            .bringPageTop(tab.getAttribute('navigator-page'), { animation: 'lift' })
            .then(function() { runningAnimation = false });
        }
      };
    });
  }
});
      </script>

</body>
</html>


